.UnderLine {
    text-decoration: underline;
}

.Project-title {
    padding: 15px;
}

.modal-header {
    text-decoration: underline;
    color: #0247a3 !important;
    font-style: italic;
}

.project-content {
    padding: 15px;
}