.underLine {
    text-decoration: underline;
}

.project-title {
    padding: 15px;
}

.modal-header {
    text-decoration: underline;
    color: #0247a3 !important;
    font-style: italic;
}

.project-content {
    padding: 15px;
}

.avatar-uploader {
    width: 152px;
    height: 152px;
}

.avatar-uploader-trigger,
.avatar {
    width: 150px;
    height: 150px;
}

.avatar-uploader {
    display: block;
    border: 1px dashed #1b1c1d;
    border-radius: 6px;
    cursor: pointer;
}

.avatar-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
}

.create-item {
    margin-top: 15px;
}

.ant-upload-select-picture-card i {
    font-size: 28px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    font-size: 12px;
    color: #666;
}

.all-tags-segment {
    max-height: calc(50vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.tags-icon {
    position: absolute;
    right: -10px;
    top: -4px;
}

.tag-popup {
    position: absolute;
    top: 45px;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    z-index: 1900;
    border: 1px solid #d4d4d5;
    line-height: 1.4285em;
    background: #fff;
    padding: .833em 1em;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
}

.tag-popup:before {
    position: absolute;
    content: '';
    width: .71428571em;
    height: .71428571em;
    background: #fff;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    z-index: 2;
    box-shadow: 1px 1px 0 0 #bababc;
    top: -.30714286em;
    left: 1em;
    bottom: auto;
    right: auto;
    margin-left: 0;
}

.tag-popup-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
    float: right;
}

.tag-popup-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.table-cell-length {
    max-width: calc(20vw);
}

.task-table-cell-length {
    max-width: calc(30vw);
}

.requirement-cell-length {
    max-width: calc(30vw);
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-detail {
    padding: 1em 1em 1em 1em;
}

.project-detail .grid-component-right {
    margin-left: -1em;
    padding-right: 0 !important;
}

.project-detail .header-project {
    color: #cbc9ca;
    margin-right: 1em;
}

.project-detail .header-id {
    color: #6a9abe;
    margin-left: 1em;
    margin-right: 1em;
}

.read-only-title {
    color: #6a9abe;
}

.read-only-text {
    padding-left: 2.65em;
}

.edit-info-icon {
    float: right;
    cursor: pointer;
}

.edit-info-line {
    flex: 1;
    text-decoration: underline;
    border-bottom: 2px dotted #666666;
    margin: 5px;
}

.edit-line-cont {
    flex: 1;
    display: flex;
}

.read-only-component {
    margin-bottom: 30px;
}

.read-only-component:last-child {
    margin-bottom: 0;
}

.read-only-sub-item {
    padding-left: 2.65em;
}

.read-only-sub-item .read-only-text {
    padding-left: 0;
}

.read-only-text-item {
    margin-bottom: 10px;
}

.task-list-new,
.ui.list > .task-list-new.item .description {
    color: #66cc33;
}

.task-list-inProgress,
.ui.list > .task-list-inProgress.item .description {
    color: #ff9900;
}

.task-list-done,
.ui.list > .task-list-done.item .description {
    color: #0099cc;
    text-decoration: line-through;
}

.e-charts-segment {
    height: calc(41vw);
    padding: 1em;
    overflow: hidden;
}

.e-charts-segment-right {
    height: calc(41vw - 58px);
    padding: 1em;
    overflow: hidden;
}

.e-charts-small {
    height: calc(50% - 1em);
    margin-bottom: 2em;
}

.e-charts-small:last-child {
    margin-bottom: 0;
}

.task-action-cell {
    display: flex;
}

.grid-component-right-bottom {
    margin-top: 1em;
}

.requirement-segment {

}

.create-requirement-button {
    width: 100%;
    font-size: 4em !important;
}

.ui.button.select-member-role-button {
    width: 8em;
    height: 8em;
    padding: 0.5em;
    margin: 1em;
}

.select-member-role-button-text {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #000000;
}

.ui.modal.choose-members-modal {
    left: auto;
    right: 0;
}

.tag-footer {
}

.tag-footer-line {
    width: calc(100% - 0.25em);
    height: 3px;
    margin-top: 2px;
    background-color: #db2828;
    position: absolute;
    -webkit-box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
}

.tag-footer-text {
    position: absolute;
    margin-top: 8px;
    width: calc(100% - 0.25em);
    text-align: center;
}

.choose-members-search {
    margin-top: 35px;
    width: 50%;
}

.single-line {
    display: inline-flex;
}

.table-single-line {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

.select-member-role-button > i {
    margin: 0 !important;
}

.mode-desc-popup {
    opacity: 0.7;
}

.table-origin-data {
    background-color: #e8e8e8;
}

.selected-member-icon {
    position: absolute;
    right: 2px;
    top: -8px;
}

.ui.button.upload-attach-button {
    margin-right: 1em;
    margin-bottom: 1em;
}

.custom-model-delete {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.ui.grid.mvp-project-container {
    padding: 1em;
}

.ui.divided.list .item.mvp-project-box {
    padding: 0.5em 0.25em;
}

.ui.segment.mvp-sprint-container {
    height: 100%;
    padding: 0;
}

.mvp-sprint-title {
    text-align: center;
    width: 100%;
    display: block;
    height: 3.5em;
    line-height: 3.5em;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.mvp-sprint-title-text {
    font-size: 1.5em;
    font-weight: 700;
}

.drop-container {
    height: calc(100% - 3.5em);
}

.component-container {
    padding: 1.5em;
}

.mvp-story-info {
    display: flex;
    cursor: move;
}

.mvp-story-info > span {
    line-height: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #000000;
}

.mvp-story-priority {
    width: 4em;
    text-align: center;
}

.mvp-story-point {
    width: 3em;
    text-align: center;
}

.mvp-story-id {
    width: 4em;
    text-align: center;
}

.mvp-story-desc {
    flex: 1;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.ui.grid.select-model {
    margin-top: 1em;
}

.column.select-model-item {
    height: 100%;
}

.ui.grid.select-model.error {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select-model-item .ui.segment.selected {
    color: #2185d0;
    border: 2px solid #2185d0;
    -webkit-box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
}

.model-label {
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected,
.ant-tree li .ant-tree-node-content-wrapper:hover {
    background-color: #ffffff;
    cursor: default;
}

.ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

:root .ant-tree.ant-tree-show-line li span.ant-tree-switcher.ant-tree-switcher_open:after,
:root .ant-tree.ant-tree-show-line li span.ant-tree-switcher.ant-tree-switcher-noop:after,
:root .ant-tree.ant-tree-show-line li span.ant-tree-switcher.ant-tree-switcher_close:after {
    font-size: 24px;
}

.ant-tree.ant-tree-show-line li:not(:last-child):before {
    left: 20px;
    margin: 32px 0;
}

.model-label-main .ant-tree li ul {
    padding: 0 0 0 34px;
}

.sub-label-cont {
    margin-top: 1em;
    padding-left: 2em;
}

.sub-label {
    margin-bottom: 1em;
}

.model-label > .ui.input {
    min-width: 35em;
}

.sub-label > .ui.input {
    min-width: 32.5em;
}

.model-label-cont.item-horizontal h4.ui.header {
    padding: 5px 20px 0 0;
}

.model-add-sub-label.ui.button {
    margin-left: 1em;
}

.model-label-main {

}

i.icon.mode-remove-label {
    margin-left: 1em;
}

.model-basic {
    max-width: 92em;
}

.model-display-roles {
    width: 100%;
    height: calc(100vh - 361px);
}

.create-model-footer {
    margin-top: 2em;
    height: 36px;
    margin-bottom: 1em;
    position: relative;
}

.previous-button {
    position: absolute;
    left: 1em;
}

.next-button {
    position: absolute;
    right: 1em;
}

.role-label {
    margin-top: 1em;
}

.iteration-item {
    display: inline-table;
    position: relative;
    margin-right: 6em;
    margin-top: 2em;
}

.iteration-action {
    margin-bottom: 1em;
}

.iteration-container {
    display: block;
}

.iteration-line {
    position: absolute;
    top: 60px;
    width: 3em;
    border-bottom: 4px solid #000000;
    left: calc(100% + 3px);
}

.iteration-line:after {
    content: "\2192";
    position: absolute;
    font-size: 4em;
    top: -47px;
    left: calc(100% - 8px);
    color: #000000;
}

.iteration-item .ui.input {
    width: 10em;
}

.iteration-item .input.ui input {
    width: 10em;
}

.iteration-label.ui.label {
    width: 10em;
    font-size: 1em;
    margin: 1em 0 0 0;
}

.model-attach.ui.horizontal.list > .item {
    margin-top: 1em;
}

.model-attach .list-content {
    position: relative;
    padding: 0.5em 1em;
    min-width: 4em;
    font-size: 2em;
    text-align: center;
}

.model-attach .list-content:hover {
    -webkit-box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .2);
}

.model-attach .list-content:hover .list-actions-content {
    opacity: 1;
}

.model-attach .list-actions-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.model-attach .list-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.model-attach .list-text {
    line-height: 100%;
    color: #CCCCCC;
    font-size: 1.5em;
}

.model-attach i.icon:before {
    vertical-align: middle;
}

.model-attach .list-action-icon {
    font-size: 1em;
    color: #ffffff;
    opacity: 0.9;
    margin-left: 0;
    margin-right: 0.5em;
}

.model-attach .list-action-icon:last-child {
    margin-right: 0;
}

.change-sprint-button.ui.button {
    margin-left: 1em;
    background-color: #ffffff;
}

.ui.list > .item.story-in-progress,
.ui.list > .item.story-in-progress:first-child {
    margin: 0.05em 0.25em 0.5em 0.25em;
    border: 1px solid;
    position: relative;
    padding: 0;
}

.ui.list > .item.story-in-progress:before {
    content: " ";
    width: 0.5em;
    height: 100%;
    position: absolute;
}

.story-status-normal {
    border-color: rgba(0, 128, 0, 1) !important;
    -webkit-box-shadow: 0 5px 5px rgba(0, 128, 0, 0.35);
    box-shadow: 0 5px 5px rgba(0, 128, 0, 0.35);
}

.ui.list > .item.story-in-progress.story-status-normal:before {
    background-color: rgba(0, 128, 0, 1) !important;
    -webkit-box-shadow: 0 5px 5px rgba(0, 128, 0, 0.35);
    box-shadow: 0 5px 5px rgba(0, 128, 0, 0.35);
}

.story-status-delay {
    border-color: rgba(255, 153, 0, 1) !important;
    -webkit-box-shadow: 0 5px 5px rgba(255, 153, 0, 0.35);
    box-shadow: 0 5px 5px rgba(255, 153, 0, 0.35);
}

.ui.list > .item.story-in-progress.story-status-delay:before {
    background-color: rgba(255, 153, 0, 1) !important;
    -webkit-box-shadow: 0 5px 5px rgba(255, 153, 0, 0.35);
    box-shadow: 0 5px 5px rgba(255, 153, 0, 0.35);
}

.story-status-warning {
    border-color: rgba(255, 0, 0, 1) !important;
    -webkit-box-shadow: 0 5px 5px rgba(255, 0, 0, 0.35);
    box-shadow: 0 5px 5px rgba(255, 0, 0, 0.35);
}

.ui.list > .item.story-in-progress.story-status-warning:before {
    background-color: rgba(255, 0, 0, 1) !important;
    -webkit-box-shadow: 0 5px 5px rgba(255, 0, 0, 0.35);
    box-shadow: 0 5px 5px rgba(255, 0, 0, 0.35);
}

.story-summary {
    background-color: #ffffff;
}

.summary-id {
    color: #6a9abe;
}

.summary-link {
    position: absolute;
    right: 1em;
    top: 0.5em;
}

.add-task-attach {
    width: 30%;
}

.task-upload-file {
    height: 100%;
}

.task-id {
    color: #000000;
    font-size: 20px;
}

.task-model-name {
    color: #000000;
    font-size: 20px;
    float: right;
}

.task-desc {
    margin: 0.5em 0;
}

.task-member{
    margin-bottom: 0.5em;
}