.sider-menu {
    margin-bottom: 48px;
}

.main-content {
    margin-left: 200px;
}

.main-content-collapsed {
    margin-left: 64px;
}

.create-position-button {
    font-size: 2em !important;
}

i.icon.remove-position-button {
    margin-left: 1em;
    margin-top: 20px;
    font-size: 2em;
}

.model-display-text {
    padding: 8px 0;
}

.iteration-value-text {
    height: 2em;
    vertical-align: middle;
    line-height: 2em;
    border: 1px solid #1b1c1d;
    text-align: center;
}

.iteration-item.iteration-display {
    margin-top: 0;
}

.model-detail-display .ant-tree li .ant-tree-node-content-wrapper {
    margin-top: 6px;
}

.model-creator-avatar.ui.avatar.image {
    height: 60px;
    width: 60px;
    margin-right: 1em;
}

.model-creator-name {
    font-size: 1.5em;
    font-weight: bold;
}

.model-creator-company {
    color: #999a9b;
}