.sider-menu {
    position: fixed;
    flex: 0 0 150px !important;
    max-width: 150px !important;
    min-width: 150px !important;
    width: 150px !important;
    top: 0;
    bottom: 0;
}

.ant-layout-sider.sider-menu {
    background: linear-gradient(to bottom, #22315b, #577ca6);;
}

.sider-menu .ant-menu-dark {
    background: transparent;
}

.sider-menu .ant-menu-dark .ant-menu-sub {
    background: rgba(0, 0, 0, 0.3);
}

.sider-menu .ant-menu-inline .ant-menu-item,
.sider-menu .ant-menu-inline .ant-menu-submenu-title {
    padding-left: 16px !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #d4865b;
}

.menu_icon_text {
    display: flex;
    align-items: center;
}

.sider-menu .ant-menu-inline .ant-menu-sub .ant-menu-item {
    padding-left: 46px !important;
}

.ant-layout-content {
    position: relative;
    margin-left: 150px;
    margin-top: 64px;
}

.ant-layout-header {
    position: fixed;
    left: 150px;
    right: 0;
    top: 0;
    z-index: 3;
    background: #ffffff;
    padding: 0 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.main-content {
    margin-left: 200px;
}

.main-content-collapsed {
    margin-left: 64px;
}

.create-position-button {
    font-size: 2em !important;
}

i.icon.remove-position-button {
    margin-left: 1em;
    margin-top: 20px;
    font-size: 2em;
}

.model-display-text {
    font-size: 14px;
    color: #333333;
}

.model-detail-label {
    margin-top: -16px;
}

.iteration-value-text {
    border: 2px solid #eeeeee;
    text-align: center;
    padding: 10px 20px;
}

.iteration-item.iteration-display {
    margin-top: 0;
}

.ui.horizontal.list.model-detail-attach {
    margin-top: -14px;
}

.model-detail-display .ant-tree li .ant-tree-node-content-wrapper {
    margin-top: 6px;
}

.model-creator-avatar.ui.avatar.image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.model-creator-name {
    font-size: 12px;
    color: #333333
}

.model-creator-company {
    color: #999a9b;
}

.model-type-button {
    padding: 18px 20px;
    font-size: 14px;
    color: #999999;
    background-color: #eeeeee;
    margin-right: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.model-list-table {
    padding: 20px;
    background-color: #ffffff;
}

.model-type-button.model-type-active {
    background-color: #ffffff;
    color: #333333;
}

.model-detail-container {
    padding: 0 20px 10px 20px;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.model-detail-display {
    background-color: #ffffff;
}

.sort-text {
    font-size: 16px;
    color: #999999;
}

.sort-color-1 {
    color: #f5d93e;
}

.sort-color-2 {
    color: #d9dbee;
}

.sort-color-3 {
    color: #ef9f45;
}

.sort-color-other {
    color: #8a8a8a;
}

.ant-layout {
    background-color: #f8f8f8;
}

.ui.image.menu-icon {
    height: 20px;
    width: 20px;
}

.ant-menu-item,
.sub-menu-title {
    display: flex;
    align-items: center;
}

.display-filed-title {
    padding: 0 20px;
    font-size: 14px;
    color: #999999;
}

.personal-photo {
    position: absolute;
    top: 20px;
    right: 20px;
}

.edit-photo {
    margin-top: 10px;
    text-align: center;
}

.personal-photo > img.ui.image {
    width: 160px;
    height: 160px;
}

.menu-user-avatar.ui.avatar.image {
    width: 80px;
    height: 80px;
    margin: 35px;
}