.sider-menu {
    margin-bottom: 48px;
}

.main-content {
    margin-left: 200px;
}

.main-content-collapsed {
    margin-left: 64px;
}

.create-position-button {
    font-size: 2em !important;
}

i.icon.remove-position-button {
    margin-left: 1em;
    margin-top: 20px;
    font-size: 2em;
}

.model-display-text {
    font-size: 14px;
    color: #333333;
}

.model-detail-label {
    margin-top: -16px;
}

.iteration-value-text {
    border: 2px solid #eeeeee;
    text-align: center;
    padding: 10px 20px;
}

.iteration-item.iteration-display {
    margin-top: 0;
}

.ui.horizontal.list.model-detail-attach {
    margin-top: -14px;
}

.model-detail-display .ant-tree li .ant-tree-node-content-wrapper {
    margin-top: 6px;
}

.model-creator-avatar.ui.avatar.image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.model-creator-name {
    font-size: 12px;
    color: #333333
}

.model-creator-company {
    color: #999a9b;
}

.model-type-button {
    padding: 18px 20px;
    font-size: 14px;
    color: #999999;
    background-color: #eeeeee;
    margin-right: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.model-list-table {
    padding: 20px;
    background-color: #ffffff;
}

.model-type-button.model-type-active {
    background-color: #ffffff;
    color: #333333;
}

.model-detail-container {
    padding: 0 20px 10px 20px;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.model-detail-display {
    background-color: #ffffff;
}

.sort-text {
    font-size: 16px;
    color: #999999;
}

.sort-color-1 {
    color: #f5d93e;
}

.sort-color-2 {
    color: #d9dbee;
}

.sort-color-3 {
    color: #ef9f45;
}

.sort-color-other {
    color: #8a8a8a;
}

.ant-layout {
    background-color: #f8f8f8;
}

.ui.image.menu-icon {
    height: 20px;
    width: 20px;
}

.ant-menu-item,
.sub-menu-title {
    display: flex;
    align-items: center;
}

.display-filed-title {
    padding: 0 20px;
    font-size: 14px;
    color: #999999;
}

.personal-photo {
    position: absolute;
    top: 20px;
    right: 20px;
}

.edit-photo {
    margin-top: 10px;
    text-align: center;
}

.personal-photo > img.ui.image {
    width: 160px;
    height: 160px;
}