.components-item {
    margin-top: 20px;
    position: relative;
}

.common-text {
    font-size: 14px;
    color: #666666;
}

.components-length {
    width: 80% !important;
}

.input-label:after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
}

.ui.form textarea.components-error,
.ui.selection.dropdown.components-error,
.components-error .ant-calendar-picker-input,
.components-item .components-error .simditor {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-input {
    height: 38px;
    font-size: 14px;
}

.ant-calendar-range-picker-input {
    font-size: 14px;
}

.ant-calendar-picker-icon:after {
    font-size: 18px;
}

.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.ant-input:focus,
.ant-input:hover {
    border-color: rgba(34, 36, 38, .35) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.components-error .ant-calendar-picker-icon:after,
.components-error .ant-picker-icon:after {
    color: #9f3a38;
}

.item-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.item-horizontal h4.ui.header {
    margin: 0;
    padding: 8px 20px 8px 0;
}

.align-right {
    justify-content: flex-end;
    padding-right: 10%;
}

/*.ui.selection.dropdown {
    flex: 1;
}*/

.ui.fluid.input {
    flex: 1;
}

.ui.horizontal.list > .item {
    margin-left: 0;
    margin-right: 1em;
}

.display-file .ant-upload-list-item .anticon-cross {
    font-size: 0;
}

.e-chart-component {
    height: 100%;
    width: 100%;
}

.ant-back-top {
    right: 50px;
    bottom: 50px;
}

.carousel-segment-outer {
    padding: 0 !important;
}

.carousel-button {
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.carousel-button-up {
    border-top: 0;
}

.carousel-button-down {
    border-bottom: 0;
}

.pointer-cursor {
    cursor: pointer !important;
}

.discussion-comment-header {
    padding: 20px 24px;
    background-color: #ffffff;
    width: 100%;
}

.comment-component {
    margin-top: -0.5em;
}

.comment-author {
    display: flex;
    padding: 20px;
}

.ui.comments .comment .text {
    margin: 0;
    padding: 0 20px 20px 20px;
}

.comment-author-right {
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.comment-footer {
    padding: 20px;
    text-align: right;
    background-color: #ffffff;
}

.ui.button.comment-action-button {
    margin-top: 0.5em;
    margin-left: 1em;
}

.mention-reply {
    color: rgba(0, 0, 0, .4);
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.ant-mention-wrapper .DraftEditor-editorContainer .public-DraftEditor-content {
    min-height: 100px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.ant-carousel .slick-initialized .slick-slide.list-no-file {
    display: flex;
    align-items: center;
}

.ant-carousel .slick-track {
    height: 100%;
}

.ant-carousel .slick-initialized .slick-slide.list-no-file > span {
    width: 100%;
}

.upload-multi .ui.button {
    width: 100%;
    border-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.upload-multi .ant-upload-list {
    display: none;
}

.upload-multi .ant-carousel .slick-slider .slick-list {
    height: calc(20vw - 1em);
}

.upload-multi .ant-carousel .slick-dots {
    bottom: -0.5em;
}

.upload-multi .ant-carousel .slick-dots li button {
    background: #000;
}

.upload-multi .ant-carousel .slick-slide img {
    height: calc(20vw - 4em);
    width: 100%;
}

.upload-multi .list-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.upload-multi .list-content {
    position: relative;
}

.list-file-name {
    padding: 5px 0;
    color: #333333;
}

.upload-multi .list-action-icon {
    font-size: 3em;
    color: #ffffff;
    opacity: 0.9;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.upload-multi a {
    text-decoration: none;
}

.upload-multi .list-content:hover .list-actions-content {
    opacity: 1;
}

.upload-multi .list-actions-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.charts-progress-component {
    height: calc(19vw);
    width: 100%;
}

.charts-progress-edit-icon {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.progress-component {
    display: flex;
}

.progress-component .ui.progress {
    flex: 1;
    height: 2em;
}

.progress-component .ui.progress:first-child {
    margin: 0;
}

.progress-component .ui.progress .bar {
    height: 100%;
}

.progress-edit-icon {
    margin-left: 1em;
}

.upload-progress-top {
    position: relative;
}

.upload-progress-bar {
    margin-top: 25px;
}

.ant-progress.ant-progress-circle {
    margin-top: 20px;
}

.ant-progress-circle .ant-progress-inner {
    width: 80% !important;
    height: 80% !important;
}

.ant-progress {
    width: 100%;
    text-align: center;
}

.ant-progress-bg {
    background: linear-gradient(to right, #22315b, #577ca6);
}

.ant-progress-circle-path {
    stroke: #577ca6;
}

.ant-progress-text {
    color: #577ca6;
    font-size: 36px;
}

.ant-progress-status-success .ant-progress-bg {
    background: #00a854;
}

.ant-progress-show-info .ant-progress-outer {
    padding: 0;
    margin: 0;
}

.ant-progress-line .ant-progress-text {
    font-size: 14px;
    margin-left: 10px;
    width: auto;
}

.ant-progress-line > div {
    display: flex;
    align-items: center;
}

.ant-slider-rail {
    height: 10px;
    border-radius: 5px;
    background-color: #cccccc;
}

.ant-slider-track,
.ant-slider:hover .ant-slider-track {
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #22315b, #577ca6);
}

.ant-slider-step {
    height: 10px;
}

.ant-slider-handle,
.ant-slider:hover .ant-slider-handle {
    width: 20px;
    height: 20px;
    border: solid 2px #577ca6;
}

.upload-multi .ant-upload.ant-upload-select {
    position: relative;
    width: auto;
    margin-top: 0;
}

.upload-progress-top .upload-multi .ant-carousel .slick-slide img {
    height: calc(20vw - 9.5em);
}

.upload-progress-top .upload-multi .ant-carousel .slick-slider .slick-list {
    height: calc(20vw - 6.5em);
}

.upload-multi-title {
    margin-bottom: 10px;
}

.upload-multi {
    position: relative;
}

.upload-multi-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #577ca6;
    cursor: pointer;
}

.edit-progress {
    position: relative;
}

.progress-action {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.edit-progress-button {
    cursor: pointer;
    margin-left: 20px;
}

.progress-history-button {
    cursor: pointer;
}

.mv-slider-container {
    display: flex;
}

.slider-container {
    flex: 1
}

.link {
    /*color: blue;*/
    cursor: pointer !important;
}

.dialog {
    width: 50%;
    left: 25%;
}

.ui.segment.dialog {
    padding: 1rem 0 0 0;
}

.ui.header.dialog-header {
    text-align: left;
    padding-left: 1rem;
}

.dialog-content {
    padding: 1rem 1rem 2rem 1rem;
    color: #000000;
    text-align: left;
}

.dialog-footer {
    background: #f9fafb;
    padding: 1rem;
    border-top: 1px solid rgba(34, 36, 38, .15);
    text-align: right;
}

.modal-component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
}

.pre-line {
    white-space: pre-line;
}

.display-flex {
    display: flex;
    align-items: center;
    line-height: 1;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.ui.form .field .ui.input.error input {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.avatar.image.header-avatar {
    height: 2em;
    width: 2em;
}

.common-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    line-height: 1;
}

.header-product {
    font-size: 24px;
    color: #577ca6;
    font-weight: bold;
}

.header-name {
    font-size: 14px;
    color: #999999;
    margin-right: 40px;
}

.log-out-button {
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

i.icon.select-delete-icon {
    cursor: pointer;
    position: absolute;
    width: auto;
    height: auto;
    line-height: 1.21428571em;
    top: .78571429em;
    right: 1em;
    z-index: 3;
    margin: -.78571429em;
    padding: .91666667em;
    opacity: .8;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
    transition: opacity .1s ease;
    backface-visibility: hidden;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

img.ui.image.logon-back-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.input-content,
.input-content.ui.basic.table,
.input-content.ui.form,
.input-content.ui.selection.dropdown,
.input-content.ui.input {
    width: 80%;
}

.full-width.ui.selection.dropdown,
.full-width.ui.input {
    width: 100%;
}

img.ui.image.mv-image {
    display: inline-block;
    margin-right: 10px;
}

.ant-calendar-range-picker-separator {
    line-height: 28px;
}

.field-title {
    margin: 0;
    padding: 8px 20px 0 0;
    font-size: 14px;
    color: #666666;
    max-width: 20%;
}

.disable-button.ui.button {
    background-color: #eeeeee;
    border: 2px solid #dddddd;
    color: #999999;
}

.cancel-button.ui.button {
    background-color: #eeeeee;
    border: 2px solid #dddddd;
    color: #666666;
    margin-right: 30px;
}

.confirm-button.ui.button {
    background-color: #577ca6;
    border: 2px solid #3d5f91;
    color: #fffefe;
}

.previous-button.ui.button {
    background-color: #eeeeee;
    border: 2px solid #dddddd;
    color: #666666;
}

.delete-button.ui.button {
    background-color: #ffffff;
    border: 2px solid #c35f5c;
    color: #c35f5c;
    margin-left: 20px;
}

.remove-button.ui.button {
    background-color: #ffffff;
    border: 2px solid #a85c90;
    color: #a85c90;
}

.assign-button.ui.button {
    background-color: #ffffff;
    border: 2px solid #649fa7;
    color: #649fa7;
    margin-left: 20px;
}

.ui.modal .actions > .button {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 30px;
}

.tag-style {
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.tag-style.tag-selected {
    color: #ffffff;
}

.tag-style-default, .tag-style-1 {
    background-color: rgba(130, 114, 174, 0.5);
    border: 2px solid transparent;
    color: #725cae;
}

.tag-style-default.tag-selected, .tag-style-1.tag-selected {
    background-color: rgba(114, 92, 174, 1);
    border: 2px solid rgba(50, 35, 93, 1);
}

.tag-style-2 {
    background-color: rgba(195, 122, 120, 0.5);
    border: 2px solid transparent;
    color: #c35f5c;
}

.tag-style-2.tag-selected {
    background-color: rgba(195, 95, 92, 1);
    border: 2px solid rgba(135, 42, 40, 1);
}

.tag-style-3 {
    background-color: rgba(195, 154, 120, 0.5);
    border: 2px solid transparent;
    color: #d4865b;
}

.tag-style-3.tag-selected {
    background-color: rgba(212, 134, 91, 1);
    border: 2px solid rgba(135, 84, 40, 1);
}

.tag-style-4 {
    background-color: rgba(104, 163, 169, 0.5);
    border: 2px solid transparent;
    color: #51a1a9;
}

.tag-style-4.tag-selected {
    background-color: rgba(81, 161, 169, 1);
    border: 2px solid rgba(25, 77, 82, 1);
}

.tag-style-5 {
    background-color: rgba(165, 190, 117, 0.5);
    border: 2px solid transparent;
    color: #a5be75;
}

.tag-style-5.tag-selected {
    background-color: rgba(156, 190, 90, 1);
    border: 2px solid rgba(95, 126, 37, 1);
}

.tag-style-6 {
    background-color: rgba(180, 110, 155, 0.5);
    border: 2px solid transparent;
    color: #b46e9b;
}

.tag-style-6.tag-selected {
    background-color: rgba(180, 85, 147, 1);
    border: 2px solid rgba(104, 31, 79, 1);
}

.tag-style-7 {
    background-color: rgba(113, 129, 173, 0.5);
    border: 2px solid transparent;
    color: #7181ad;
}

.tag-style-7.tag-selected {
    background-color: rgba(92, 114, 173, 1);
    border: 2px solid rgba(34, 49, 91, 1);
}

.ui.horizontal.list > .item {
    padding: 0 !important;
}

.file-name {
    padding: 10px 26px;
    font-size: 14px;
    color: #999999;
    background-color: #f5f5f5;
    border: 2px solid #eeeeee;
}

.file-delete-button {
    padding: 8px;
    cursor: pointer;
}

.file-item {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
}

.ui.button {
    padding: 10px 14px;
    font-size: 14px;
}

.discussion-row {
    text-align: left;
}

.ui.table tbody .discussion-row td {
    margin: 0;
    padding: 0;
}

.ui.comments {
    margin: 0;
    max-width: none;
    border-top: 1px solid #eeeeee;
}

.ui.comments .comment,
.ui.comments .comment:first-child {
    margin: 2px 0 8px 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

.ui.comments .comment .actions {
    border-top: 1px solid #eeeeee;
    padding: 9px 24px;
}

.ui.comments .comment .actions a {
    margin-right: 24px;
}

.ui.comments .comment .avatar {
    width: 40px;
    height: 40px;
}

.ui.comments .comment .avatar img {
    border-radius: 50%;
}

.ui.comments .comment > .avatar ~ .content {
    margin-left: 50px;
}

.ui.comments .comment .metadata {
    margin-left: 0;
    font-size: 12px;
    color: #999999;
    margin-top: 6px;
}

.ui.comments .comment .author {
    font-size: 12px;
    color: #577ca6;
}

.comment-toggle-img {
    padding: 10px;
    position: absolute;
    right: 20px;
    transform: rotate(0deg);
    transition: All 0.3s ease-in-out;
}

.comment-toggle-img.toggle-visible {
    transform: rotate(180deg);
    transition: All 0.3s ease-in-out;
}

.compact-button.ui.button {
    padding: 8px 20px;
}

.ui.button {
    margin: 0;
}

.ui.right.overlay.sidebar {
    background-color: #ffffff;
}

.simple-upload {
    position: relative;
}

.simple-upload .ant-upload-list {
    display: none;
}

.drag-box-dragging {
    border: 2px dashed #577ca6;
    border-radius: 10px;
}

.ant-carousel .slick-dots li button {
    width: 14px;
    height: 14px;
    border-radius: 7px;
}

.ant-carousel .slick-dots li.slick-active button {
    width: 14px;
    height: 14px;
}

.ant-carousel .slick-dots {
    height: 14px;
}

.simditor .simditor-body {
    line-height: 1.3;
}

.simditor .simditor-body p {
    margin-bottom: 5px;
}

.simditor {
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, .15);
}

.simditor .simditor-wrapper {
    border-radius: 4px;
}

.simditor .simditor-toolbar {
    border-radius: 4px 4px 0 0;
}

.components-error-message {
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -15px;
    color: #9f3a38;
    font-size: 12px;
}

.header-search {
    margin-right: 50px;
}

.select-top-position > .ui.active.selection.dropdown {
    border-radius: 0 0 4px 4px !important;
}

.ui.selection.dropdown .menu {
    border-radius: 0 0 4px 4px;
    max-height: 224px !important;
}

.select-top-position > .ui.selection.dropdown .menu {
    border-radius: 4px 4px 0 0 !important;
    border-bottom-width: 0 !important;
    border-top-width: 1px !important;
    box-shadow: 0 -2px 3px 0 rgba(34, 36, 38, .15) !important;
}

.display-nothing {
    width: 0;
    height: 0;
    border: none;
    margin: 0;
    padding: 0;
}

.upload-check-history {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.ant-notification-notice-message,
.ant-notification-notice-close {
    display: none;
}

.ant-notification-notice {
    background: #577ca6;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

img.ui.image.notify-avatar {
    height: 40px;
    width: 40px;
}

.notify-content {
    display: flex;
    line-height: 1;
}

.notify-left {
    padding: 20px;
    display: flex;
    border-right: 1px solid #415d87;
    flex: 1;
    overflow: hidden;
}

.notify-message-content {
    padding: 0 20px;
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.notify-name {
    color: #ffffff;
    font-size: 14px;
}

.notify-message {
    margin-top: 10px;
    color: #ffffff;
    font-size: 12px;
}

.notify-button {
    padding: 16px 20px;
    cursor: pointer;
    border-bottom: 1px solid #415d87;
}

.notify-button:last-child {
    border-bottom: none;
}

.notify-check-button {
    color: #ffffff;
    font-size: 12px;
}

.notify-close-button {
    color: #22315b;
    font-size: 12px;
}

.info-content {
    position: relative;
}

.notify-info {
    margin-right: 20px;
}

.info-down-content {
    position: absolute;
    top: 62px;
    right: -120px;
    z-index: 1020;
    display: none;
    float: left;
    width: 386px;
    padding: 0;
    margin: 9px 0 0;
    text-align: left;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-clip: padding-box;
}

.active-info > .info-down-content {
    display: block;
}

.info-down-content:after, .info-down-content:before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 10px dashed transparent;
    z-index: 1;
}

.info-down-content:after, .info-down-content:before {
    border-bottom-style: solid;
    border-width: 0 10px 10px;
}

.info-down-content:before {
    border-bottom-color: #ddd;
    bottom: 0;
}

.info-down-content:after, .info-down-content:before {
    right: 157px;
    top: -10px;
    pointer-events: none;
}

.info-down-content:after {
    border-bottom-color: #fff;
    bottom: -1px;
}

.info-down-content:after {
    top: -9px;
}

.info-badge {
    cursor: pointer;
    padding: 20px 30px 20px 10px;
}

.information-content {
    display: flex;
    line-height: 1;
    border-bottom: 1px solid #eeeeee;
}

.information-content:last-child {
    border-bottom: none;
}

.information-name {
    font-size: 14px;
    color: #333333;
}

.information-time {
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
}

.information-message {
    margin-top: 10px;
    font-size: 12px;
    color: #999999;
    word-wrap: break-word;
}

.information-close-button {
    font-size: 14px;
    color: #999999;
}

.information-check-button {
    font-size: 14px;
    color: #3d5f91;
}

.information-button {
    padding: 14px 20px;
    cursor: pointer;
    border-bottom: 1px solid #eeeeee;
}

.information-button:last-child {
    border: none;
}

.info-content .notify-left {
    border-right: 1px solid #eeeeee;
}

.info-top {
    max-height: 260px;
    overflow-y: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info-bottom {
    background-color: #f8f8f8;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info-check-more {
    padding: 10px 0;
    cursor: pointer;
    font-size: 14px;
    color: #999999;
}

.issue-question {
    padding: 20px;
    border-bottom: 2px solid #eeeeee;
    position: relative;
}

.question-list {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    flex-wrap: wrap;
}

.question-list > div {
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid #eeeeee;
    cursor: pointer;
    background: #f4f4f4;
    font-size: 12px;
    color: #666666;
    border-radius: 4px;
}

.question-list > div.issue-resolved {
    background: #aece44;
    color: #ffffff;
}

.question-list > div.issue-selected {
    border: 2px solid #577ca6;
}

.question-author {
    display: flex;
}

.question-author-right {
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.question-avatar {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    margin: .2em 0 0;
}

.question-avatar-img.ui.image {
    border-radius: 50%;
}

.author-name {
    font-size: 12px;
    color: #577ca6;
    font-weight: 700;
}

.question-time {
    margin-left: 0;
    font-size: 12px;
    color: #999;
    margin-top: 6px;
}

.question-content {
    margin: 0;
    padding: 20px 0;
    font-size: 14px;
    word-wrap: break-word;
    color: #333333;
    line-height: 1.3;
}

.answer-bottom,
.question-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.issue-score {
    margin-right: 30px;
    color: #d4865b;
}

.issue-answers {
    padding: 0 20px;
}

.issue-answer {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}

.issue-answer:last-child {
    border-bottom: none;
}

.answer-bottom > div {
    margin-right: 20px;
    cursor: pointer;
}

.issue-comment {
    padding-left: 20px;
    margin-top: 20px;
}

.issue-comment .ui.comments {
    border-top: none;
}

.issue-comment .ui.comments .comment,
.issue-comment .ui.comments .comment:first-child {
    box-shadow: none;
    border-top: 1px solid #eeeeee;
    margin: 0;
}

.issue-comment .ui.comments .comment .actions {
    border-top: none;
}

.issue-comment .comment-footer {
    padding: 20px 0 0 0;
}

.answer-adopt {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
}

.answer-btn-img {
    width: 58px;
    height: 58px;
    cursor: pointer;
}

.ant-anchor-wrapper {
    background: transparent;
}

.ant-anchor-ink {
    display: none;
}

.answer-btn-anchor {
    position: absolute;
    top: 0;
    right: 10px;
}