.components-item {
    margin-top: 20px;
}

.components-length {
    width: 80% !important;
}

.input-label:after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
}

.ui.form textarea.components-error,
.ui.selection.dropdown.components-error,
.components-error .ant-calendar-picker-input {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-input {
    height: 38px;
    font-size: 14px;
}

.ant-calendar-range-picker-input {
    font-size: 14px;
}

.ant-calendar-picker-icon:after {
    font-size: 18px;
}

.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.ant-input:focus,
.ant-input:hover {
    border-color: rgba(34, 36, 38, .35) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.components-error .ant-calendar-picker-icon:after,
.components-error .ant-picker-icon:after {
    color: #9f3a38;
}

.item-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.item-horizontal h4.ui.header {
    margin: 0;
    padding: 8px 20px 8px 0;
}

.ui.selection.dropdown {
    flex: 1;
}

.ui.horizontal.list > .item {
    margin-left: 0;
    margin-right: 1em;
}

.display-file .ant-upload-list-item .anticon-cross {
    font-size: 0;
}