.components-item {
    margin-top: 20px;
}

.components-length {
    width: 80% !important;
}

.input-label:after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
}

.ui.form textarea.components-error,
.ui.selection.dropdown.components-error,
.components-error .ant-calendar-picker-input {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-input {
    height: 38px;
    font-size: 14px;
}

.ant-calendar-range-picker-input {
    font-size: 14px;
}

.ant-calendar-picker-icon:after {
    font-size: 18px;
}

.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.ant-input:focus,
.ant-input:hover {
    border-color: rgba(34, 36, 38, .35) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.components-error .ant-calendar-picker-icon:after,
.components-error .ant-picker-icon:after {
    color: #9f3a38;
}

.item-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.item-horizontal h4.ui.header {
    margin: 0;
    padding: 8px 20px 8px 0;
}

.ui.selection.dropdown {
    flex: 1;
}

.ui.horizontal.list > .item {
    margin-left: 0;
    margin-right: 1em;
}

.display-file .ant-upload-list-item .anticon-cross {
    font-size: 0;
}

.e-chart-component {
    height: 100%;
    width: 100%;
}

.ant-back-top {
    right: 50px;
    bottom: 50px;
}

.carousel-segment-outer {
    padding: 0 !important;
}

.carousel-button {
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.carousel-button-up {
    border-top: 0;
}

.carousel-button-down {
    border-bottom: 0;
}

.pointer-cursor {
    cursor: pointer !important;
}

.discussion-comment-link {
    color: blue;
    padding-right: 1em;
    display: inline-block;
}

.comment-footer {
    padding-top: 2em;
    text-align: right;
}

.comment-send-button {
    margin-top: 1em !important;
}

.ant-mention-wrapper .DraftEditor-editorContainer .public-DraftEditor-content {
    min-height: 100px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.list-no-file {
    padding-top: 5em;
}

.story-upload-file {
    height: calc(20vw);
    padding: 1em;
    overflow: hidden;
}

.upload-multi .ant-upload.ant-upload-select {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.upload-multi .ui.button {
    width: 100%;
    border-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.upload-multi .ant-upload-list {
    display: none;
}

.upload-multi .ant-carousel .slick-slider .slick-list {
    height: calc(20vw - 5em);
}

.upload-multi .ant-carousel .slick-dots {
    bottom: 0;
}

.upload-multi .ant-carousel .slick-dots li button {
    background: #000;
}

.upload-multi .ant-carousel .slick-slide img {
    height: calc(20vw - 6em);
    width: 100%;
}

.upload-multi .list-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.upload-multi .list-content {
    position: relative;
}

.upload-multi .list-action-icon {
    font-size: 3em;
    color: #ffffff;
    opacity: 0.9;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.upload-multi a {
    text-decoration: none;
}

.upload-multi .list-content:hover .list-actions-content {
    opacity: 1;
}

.upload-multi .list-actions-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}